.container{
    display: flex;
    flex-direction: row;
 
    min-height: 95vh;
    flex-wrap:wrap;
    
}

.container .square{
    min-width: 25%;
    min-height: 25%;
    background-color: aqua;
    border-color: black;
    
    
}

.hovered{
    min-width: 25%;
    min-height: 25%;

    background-color: black;
}

nav {
    min-width: 100%;
    min-height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}